.mainHeader {
    margin-top: 1.3125rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.price {
    color: var(--colors-primary, #0ACF83);
    width: 85%;
    max-width: 375px;
    align-self: center;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    /* 125% */
    letter-spacing: 0.0125rem;
}

.name {
    color: var(--colors-default, #000);
    width: 85%;
    max-width: 375px;
    align-self: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    /* 128.571% */
    letter-spacing: 0.0125rem;
}